.header-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}

.header-top ul li a {
    padding: 10px;
    text-decoration: none;
}


.header-top nav ul li{
    list-style: none;
    display: inline-block;
}
 .header-top nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
 }



  



