main{
    padding-top: 80px;
}

main section{
    margin-top: 50px;
}

main section h2{
    text-align: left;
    padding-bottom: 30px;
    
}
.radio-left{
    margin-left: 50px;
}

.container-medium section div > *{
    cursor: pointer;
}

.content-main{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    width:31% ;
    border: 1px solid black;
    margin-bottom: 50px;
}

.col > * {
    margin-bottom: 15px;
    padding-left: 25px;
}

.title-col{
    border-bottom: 1px solid black;
    padding: 5px;
    text-align: center;
}

.row{
    width: 100%;
    border: 1px solid black;
}

.check{
    color: blue;
}

.fa-ul > *{
    padding-bottom: 15px;
}

.small-button{
    padding: 10px 80px;
}

.big-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-one{
    width: 73%;
    padding: 25px;
}

.box-one > *{
    margin-bottom: 10px;
}

.box-one p{
    font-size: 0.8rem;
    padding-top: 30px;
}
.box-two{
    width: 27%;
    padding-top: 25px;
}

.box-two button{
    padding: 10 30px;
}

/* .box-photo-text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */

.box-photo{
    width: 62%;
}

.box-photo img{
    display: block;
}

.box-text{
    width: 38%;
}

.box-text > *{
    padding-left: 40px;
    padding-top: 20px;
}

.box-text h3{
    margin-top: 30px;
}

.box-text button{
    background-color: white;
    color: black;
    padding: 8px 8px ;
    margin-left: 40px;
    margin-top: 20px;
}