main{
    padding-top: 80px;
}

main section h2{
    text-align: left;
   padding-bottom: 30px;
    
}
.radio-left{
    margin-left: 50px;
}

.container-medium section div > *{
    cursor: pointer;
}

.content-main{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.col{
    width:31% ;
    border: 1px solid black;
}

.col > * {
    margin-bottom: 15px;
    padding-left: 25px;
}

.title-col{
    border-bottom: 1px solid black;
    padding: 5px;
    text-align: center;
}
.col div button{
    padding: 10px 20px;
}

.row{
    width: 100%;
    background-color: red;
}

.check{
    color: blue;
}

.content-height{
    height: 800px;
}

.fa-ul > *{
    padding-bottom: 15px;

}