main{
    padding-top: 80px;
}

main section{
    margin-top: 50px;
}

main section h2{
    text-align: left;
    padding-bottom: 30px;
    
}
.radio-left{
    margin-left: 50px;
}

.container-medium section div > *{
    cursor: pointer;
}

.content-main{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    width:31% ;
    border: 1px solid black;
    margin-bottom: 50px;
}

.col > * {
    margin-bottom: 15px;
    padding-left: 25px;
}

.col div a , .small-box a {
    color: #0101EE;
}

.title-col{
    border-bottom: 1px solid black;
    padding: 5px;
    text-align: center;
}

.row{
    width: 100%;
    border: 1px solid black;
}

.check{
    color: blue;
}

.fa-ul > *{
    padding-bottom: 15px;
}

.small-button{
    padding: 10px 80px;
}

.big-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-one{
    width: 73%;
    padding: 25px;
}

.box-one > *{
    margin-bottom: 10px;
}

.box-one p{
    font-size: 0.8rem;
    padding-top: 30px;
}

.box-two{
    width: 27%;
    padding-top: 25px;
}

.box-two button{
    padding: 10 30px;
}

.box-photo{
    width: 62%;
}

.box-photo img{
    display: block;
}

.box-text{
    width: 38%;
}

.box-text > *{
    padding-left: 40px;
    padding-top: 20px;
}

.box-text h3{
    margin-top: 30px;
}

.box-text button{
    background-color: white;
    color: black;
    padding: 8px 8px ;
    margin-left: 40px;
    margin-top: 20px;
}
.a-sixth{
    width: 30%;
    margin-bottom: 20px;
}

.a-sixth > *{
    padding-top: 20px;
    text-align: left;
}

.enlarged-text{
    font-size: 2.1rem;
}
.small-box{
    max-width: 60%;
    padding-top: 50px;
}

.container-square{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 100px;
}

.father-square , .mother-square{
    background-color: #F5F5F5;
    width: calc(100% / 3);
    height: calc(100vw / 3) ;
    display: flex;
    flex-wrap: wrap;
}

.son-square{
    width: 50%;
    height: 50%;
    position: relative;
}

.son-square img{
    filter: invert(1);
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50% );
}


.first-square{
    background-color: #A2D39B;
    border: 15px solid #D1E9CD;
}

.father-square :nth-child(2){
    background-color: #61082B;
}

.father-square :nth-child(3){
    background-color: #0093CE;
}

.father-square :nth-child(4){
    background-color: #FF1C1C;
}

.square-first{
    background-color: #D5001F;
}

.mother-square :nth-child(2){
    background-color: #B4D0E7;
}

.mother-square :nth-child(3){
    background-color: #0D2481;
}

.mother-square :nth-child(4){
    background-color: #FFD830;
}



